#loading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background-color: #fff;
	z-index: 99;
 }

article {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in [end] 0.5in 1fr;
	overflow: hidden;
	padding: 0.5in 0;
}

article * { grid-column: start / end; }

.ball {
	position: absolute;
	background-color: hsl(000, 000%, 87%);
	border-radius: 100%;
	z-index: -1;
}

@media (max-width: 8.5in) {
	article { grid-template-columns: 1fr 5% [start] 15% 60% 15% [end] 5% 1fr; }
}