body {
    background-color: hsl(000, 000%, 98%);
}

h2,
p,
.share {
    margin-bottom: 2.4rem;
}

h2,
time,
figcaption p,
.foot {
    color: hsl(000, 000%, 73%);
}

h1 {
    font: 700 2.0rem/1.2 "Roboto";
    color: hsl(000, 000%, 33%);
}

h2 {
    font: 400 1.5rem/1.2 "Roboto";
}

time {
    font: 700 1.0rem/1.2 "Roboto";
}

h3 {
    font: 700 1.0rem/1.2 "Roboto";
    color: hsl(000, 000%, 63%);
    text-transform: uppercase;
}

p {
    font: 400 1.0rem/1.5 "Roboto";
    color: hsl(000, 000%, 33%);
}

figcaption p {
    font: 400 1.0rem/1.5 "Roboto";
}

.foot {
    font: 400 1.0rem/1.5 "Roboto";
}

a {
    box-shadow: inset 0 -0.3em hsl(000, 000%, 83%);
}

a:hover {
    box-shadow: inset 0 -0.3em hsl(000, 000%, 73%);
}

img {
    filter: grayscale(1);
}

@media (max-width: 8.5in) {
    :root {
        font-size: 18px;
    }
}

@media (max-width: 5.0in) {
    :root {
        font-size: 16px;
    }
}